color-link default                   "default,default"
color-link comment                   "bold black"
color-link identifier                "bright-blue"
color-link constant                  "blue"
color-link constant.string           "yellow"
color-link constant.number           "blue"
color-link constant.bool             "blue"
color-link statement                 "blue"
color-link symbol.operator           "bright-blue"
color-link preproc                   "blue"
color-link type                      "bright-blue"
color-link special                   "blue"
color-link statusline                "white,color8"
color-link tabbar                    "white,color8"
color-link tabbar.active             "white,blue"
color-link indent-char               "bold black"
color-link line-number               "bold black"
color-link current-line-number       "blue"
color-link gutter-error              "red"
color-link gutter-warning            "yellow"
color-link cursor-line               "default"
color-link color-column              "default"
color-link match-brace               "blue"
color-link diff-added                "green"
color-link diff-modified             "blue"
color-link diff-deleted              "red"
color-link selection                 ",bold black"
color-link hlsearch                  "default,bright-blue"
color-link message                   "blue"
color-link error                     "white,red"
color-link info                      "blue"
color-link warning                   "yellow"
color-link todo                      "bold blue"
color-link divider                   "color8"
