color-link default                   "#e0e0ff,#1a1a2e"
color-link comment                   "#7777aa"
color-link identifier                "bright-blue"
color-link constant                  "blue"
color-link constant.string           "#cc9944"
color-link constant.number           "blue"
color-link constant.bool             "blue"
color-link statement                 "blue"
color-link symbol.operator           "bright-blue"
color-link preproc                   "blue"
color-link type                      "bright-blue"
color-link special                   "blue"
color-link statusline                "#e0e0ff,color8"
color-link tabbar                    "#e0e0ff,color8"
color-link tabbar.active             "#ffffff,blue"
color-link indent-char                "#3a3a6e"
color-link line-number               "#7777aa,#1a1a2e"
color-link current-line-number       "blue,#1a1a2e"
color-link gutter-error              "#cc4444"
color-link gutter-warning            "#cc8844"
color-link cursor-line               "#2a2a4e"
color-link color-column              "#2a2a4e"
color-link match-brace               "blue,#2a2a4e"
color-link diff-added                "#4a8e4a"
color-link diff-modified             "blue"
color-link diff-deleted              "#cc4444"
color-link selection                 ",#3a3a6e"
color-link hlsearch                  "#1a1a2e,bright-blue"
color-link message                   "blue"
color-link error                     "#ffffff,#cc4444"
color-link info                      "blue"
color-link warning                   "#cc8844"
color-link todo                      "bold blue"
color-link divider                   "color8"
